/*ID Selector*/
#homeContainer {
    position: relative;
    text-align: center;
    color: white;
    padding:0px;
}

/*Class selectors*/

.brand {
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.divider-vertical {
    padding-left:20px;
}

.headerTextBold{
    font-weight:bold;
    font-size:5vw;
    color: black;
    padding:20px;
    background-color:silver;
}

.headerTextLight{
    font-weight:lighter;
    font-size:5vw;
    padding:20px;
}

.row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 16px !important;
    text-align: center !important;
}

.tables {
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

/*Element Selectors*/
img {
    width: 100%;
}

p {
    text-indent:2%;
}

/*All child tags of parent tag selector*/
div > h3 {
    position: relative;
    margin-left:40%;
    margin-right:40%;
    margin-top:1%;
    font-weight: lighter;
    color: black;
    text-align: center;
    padding: 20px;
}

/*All tags that follow another tag selectors*/
table tr, tr th, tr td {
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    border: 1px solid;
}